#app-contact {
  width: 100%;
  height: auto;
  padding: 10px;

  .head{
    background-color: #4a5590c2;
    padding: 20px; 

    .search {
      width: 250px;
      height: 34px;
      display: block;
      border: 1px solid white;
    }
  }

  .body {
    background-color: #eee;
    padding: 16px;

    .details {
      border: 1px solid #8080804a;
      padding: 8px;
      margin-top: 8px;

      table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
        text-align: left;    
      }
    }
  }
}